body {
    font-family: 'Oxygen', sans-serif;
}

nav {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    Padding-left: 10px;
    background-color: skyblue;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
}
